@keyframes blinker {
    50%{
        opacity:0;
    }
}
@-webkit-keyframes blinker{
    from { opacity: 1.0}
    to { opacity: 0.0;}
}
*{
    color:#333333;
    font-family: 'Concert One'
}
.footer-color, .navbar-color {
    color: #222222;
    background-color: #bb3131;
    font-family: 'Concert One';
}
a{
    color: #333333;
    font-size: larger;
    /* font-weight: bold; */
}
.btn{
    background-color: #d43535;
}

.text-danger{
    animation: blinker 1s linear 3 ;
}
body {
    background: #bf4a06;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F2B138, #bf4a06);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F2B138, #bf4a06);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}